@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
===========
Variables
===========
*/

:root {
  /* primary */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  /* neutral */
  --light-cyan-bg: hsl(180, 52%, 96%);
  --light-cyan-filter-tablets: hsl(180, 52%, 96%);
  --dark-cyan: hsl(180, 8%, 52%);
  --very-dark-cyan: hsl(180, 14%, 20%);

  --white: #fff;
  --black: #000;

  /* typography */
  --ff: 'Spartan', sans-serif;
  /* --f-s-body: 0.9375rem; 15px */
  --f-s-body: 0.875rem; /* 14px */
  --f-w-bold: 700;
  --f-w-medium: 500;
  /* margin */
  --margin-bottom-section: 7em;
  /* border */
  --border-radius: 6px; 
}

/* 
=======
Defaults
=======
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-cyan-bg);
  font-family: var(--ff);
  font-size: var(--f-s-body);
  font-weight: var(--f-w-medium);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--neutral-white);
}

img {
  display: block;
  width: 100%;
}

span {
  display: inline-block;
  font-weight: var(--f-w-bold);
  text-transform: uppercase;
}

.job p,
.job-tags .tag,
.filters .tag {
  font-weight: var(--f-w-bold);
  cursor: pointer;
}

.info-contract,
.clear {
  color: var(--dark-cyan);
}

.clear {
  font-weight: var(--f-w-bold);
  cursor: pointer;
}

/*
=======
Header
=======
*/

.header {
  background-color: var(--desaturated-dark-cyan);
  background-image: url(../images/bg-header-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 156px;
  position: relative;
  margin-bottom: 2.5em;
}

.filters {
  position: absolute;
  background-color: var(--white);
  top: 100%;
  left: 50%;
  width: 90%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  display: none;
}

.show .filters {
  display: flex;
}

.show {
  margin-bottom: 6.5em
}

.clear {
  width: 20%s;
}

/* tags */
.filters ul {
  display: flex;
  flex-wrap: wrap;
  gap: .65em
}

.filters .tag {
  padding-right: 2.75em;
  position: relative;
  margin-bottom: 0;
  margin-right: 0;
}

.filters .filter-icon {
  min-width: 34px;
  height: 100%;
  background-color: var(--desaturated-dark-cyan);
  background-image: url(../images/icon-remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.tag {
  color: var(--desaturated-dark-cyan);
  padding: .6em;
  margin-bottom: 1em;
  background-color: var(--light-cyan-filter-tablets);
  margin-right: 1em;
  line-height: var(--f-s-body);
  border-radius: var(--border-radius);
}

.filters,
.job-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12);
}

/*
=======
Container
=======
*/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container {
  grid-column: span 12;
  padding: 1.5em;
}

.grid-main-area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "info info info info info info info info info"
    "line line line line line line line line line"
    "tags tags tags tags tags tags tags tags tags"
  ;
}

.job-info {
  grid-area: info;
}

.line {
  grid-area: line;
  width: 100%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 1em;
}
.job-tags {
  grid-area: tags;
}
.job-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/*
=======
items
=======
*/

.job-item {
  /* border: 1px solid red; */
  background-color: var(--white);
  border-radius: var(--border-radius);
  /* border-left: 3px solid var(--desaturated-dark-cyan); */
  position: relative;
  padding: 2.5em 2em .5em;
  margin-bottom: 3em;
  position: relative;
}

/* just when there is featured */
.job-item::before {
  content: '';
  width: 5px;
  height: 100%;
  background-color: var(--desaturated-dark-cyan);
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: none;
}

.special.job-item::before {display: block;}

/* jobs info */
.job-info > div {
  margin-bottom: 1em;
}

.job-company {
  display: flex;
  align-items: center;
}

.job-company p {
  color: var(--desaturated-dark-cyan);
  font-weight: var(--f-w-bold);
  margin-right: 1.5em;
}

.job-flags {
  display: none;
}

.special .job-flags {display: block;}
.flag {
  padding: .4em .7em;
  font-size: 12px;
  color: var(--white);
  border-radius: 20px;
  /* max-height: 25px; */
}

.new {
  background-color: var(--desaturated-dark-cyan);
}

.featured {
  background-color: var(--very-dark-cyan);
}

.job-contract ul {
  display: flex;
  font-size: 12px;
}

.job-contract .info-contract {
  margin-right: .876em;
}

.info-contract::after {
  content: '●';
  vertical-align: middle;
  margin-left: .876em;
}

.job-contract .info-contract:last-of-type::after {
  content: '';
}

.job-tags ul,
.roleLevel,
.tools {
  display: flex;
}

.job-tags ul {
  flex-wrap: wrap;
}

/*
=======
Hover
=======
*/

.header .tag:hover .filter-icon{
  background-color: var(--very-dark-cyan);
}

.container .tag:hover {
  background-color: var(--desaturated-dark-cyan);
  color: var(--light-cyan-filter-tablets);
}

.job p:hover {
  color: var(--desaturated-dark-cyan);
}